@font-face {
  font-family: IRANSansX;
  src: url('./woff/IRANSansX-Regular.woff') format('woff'),
  url('./woff2/IRANSansX-Regular.woff2') format('woff2');
}
@font-face {
  font-family: IranYekan;
  src: url('./woff2/iran_yekan_web_regular.woff2') format('woff2');
}