@import "assets/fonts/font.scss";
//type
//header
$fontSize-header-menu:15px;
$fontWeight-header-menu:600;
$fontFamily-header-menu:iransans;
$button-header:#1AB69D ;
$linearGradient-header-button:linear-gradient(45deg  ,#31B978 50%, #1AB69D 50%);

//color

