@import "assets/fonts/font.scss";
//type
//header
$fontSize-header-menu:15px;
$fontWeight-header-menu:600;
$fontFamily-header-menu:iransans;
$button-header:#1AB69D ;
$linearGradient-header-button:linear-gradient(45deg  ,#31B978 50%, #1AB69D 50%);
$text-color-white-header:#fff;
//footer
$color-footer-title:#fff;
$fontWeight-footer-menu: 700;
$fontWeight-footer-address: 500;
$color-footer-text:#bababa;
$background-color-footer:#111212;
$lineHeight-footer:2.1;
$fontSize-footer-text:15px;
$fontSize-footer-title:20px;
//color

