@import "assets/fonts/font.scss";
//type
$border-radius-btn:25px 2px 25px 2px;
$border-radius-btn-hover:2px 25px 2px 25px;
$font-weight-bold:700;
$text-color-white:#fff;
$normal-line-height:25.95px;
$linearGradiant-normal-button:linear-gradient( #1AB69D ,#1AB69D );
$linearGradient-button:linear-gradient(-45deg  ,#31B978, #1AB69D );

$font:IranYekan;
//header
$fontSize-header-menu:15px;
$fontSize-header-menu-xl:15px;
$fontWeight-header-menu:600;
$fontFamily-header-menu:$font;
$button-header:linear-gradient(  #1AB69D , #1AB69D );
$linearGradient-header-button:linear-gradient(-45deg  ,#31B978 , #1AB69D );
$text-color-white-header:#fff;
//footer
$color-footer-title:#fff;
$fontWeight-footer-menu: 700;
$fontWeight-footer-address: 500;
$color-footer-text:#bababa;
$background-color-footer:#111212;
$lineHeight-footer:2.1;
$fontSize-footer-text:15px;
$fontSize-footer-title:20px;
//main ----> classes ----> section one
$background-color-section-one : linear-gradient(-90deg, #31B97833 0%, #1AB69D33 100%);
$fontSize-title-section-one:50px;
$fontSize-title-tablet-section-one:44px;
$fontSize-title-mobile-section-one:30px;
$fontWeight-title-section-one:700;
$lineHeight-title-section-one:1.2;
$fontSize-text-section-one:18px;
$fontWeight-text-section-one:400;
$lineHeight-text-section-one:30px;
$color-section-one:rgb(24,24,24);
$linearGradient-button:linear-gradient(-45deg  ,#31B978, #1AB69D );
$button-color:linear-gradient(-45deg  , #1AB69D , #1AB69D);
//main ----> classes ----> section two
$font-weight-title:$font-weight-bold;
$font-weight-title-card:600;
$font-size-title-section-two:36px;
$font-size-title-card-section-two:18px;
$lineHeight-title-section-two:1.39;
$lineHeight-title-card-section-two:1;
$fontSize-title-card-section-two:18px;
$fontSize-text-section-two:15px;
$color-title-section-two:rgb(24,24,24);
$color-text-section-two:rgb(128,128,128);
$welcome-color:#EE4A62;
//main ----> classes ----> section three
$color-subTitle-section-three:#EE4A62;
$fontWeight-subTitle-section-three:500;
$color-Title-section-three:rgb(24,24,24);
$fontSize-Title-section-three:36px;
$fontFamily-Title-section-three:$font;
$fontWeight-Title-section-three:700;
$lineHeight-Title-section-three:50px;
$border-radius-card-section-three:10px;
$color-card-section-three:#FFF;
$body-padding-section-three: 30px 20px 16px 30px;
$fontSize-card-text-info-section-three:13px;
$fontSize-normal-section-three:15px;
$fontWeight-type-section-three:500;
$fontWeight-subject-section-three:500;
$fontSize-subject-section-three:16px;
$lineHeight-normal-card-section-three:$normal-line-height;
//main-->section four activities
$color-text-activities :#808080;
$fontSize-text-activities :15px;
$color-title-activities :rgb(24,24,24);
$fontWeight-title-activities :700;
$fontSize-title-activities:18px;
$fontFamily-title-activities:$font;
$bg-color-activities:rgb(128,128,128);
//main-->section five talent Discovery
$color-icon-talent-discovery:#F06478;
$color-title-card-talent-discovery:rgb(24,24,24);
$fontSize-title-talent-discovery:20px;
$lineHeight-title-talent-discovery:28px;
$fontFamily-title-talent-discovery:$font;
$fontWeight-title-text-talent-discovery:600;
$fontWeight-title-hover-talent-discovery:rgba(255 ,255 ,255 ,0.8);
$color-text-talent-discovery:#808080;
$fontSize-text-text-talent-discovery:15px;
$lineHeight-text-text-talent-discovery:25.95px;
$border-radius-card-talent-discovery:10px;
$color-button-card-talent-discovery:#fff;
$color-text-card-hover-talent-discovery:#fff;
$color-button-hover-card-talent-discovery:$border-radius-btn-hover;
$background-button-hover-card-talent-discovery:$linearGradient-button;
$color-button-hover-card-talent-discovery:rgb(24,24,24);
//main-->section six  articles
$color-icon-articles:#1AB69D;
$color-title-card-articles:rgb(24,24,24);
$fontSize-title-articles:20px;
$lineHeight-title-articles:28px;
$fontFamily-title-articles:$font;
$fontWeight-title-articles:700;
$color-text-articles:#808080;
$fontSize-text-articles:15px;
$lineHeight-text-articles:25.95px;
$border-radius-card-articles:10px;
$background-arrow-articles:#1AB69D;
$background-arrow-hover-articles:#F06478;
//main ---> section seven news & event
$fontWeight-title-news:700;
$fontSize-title-news:36px;
$lineHeight-title-news:50px;
$color-title-news:rgb(24,24,24);
$fontFamily-title-news:$font;