@import "assets/fonts/_font.scss";
@import "assets/style/_varible.scss";
//fontawesome start
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
//fontawesome end

*{
  font-family: IRANSans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,&::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
